.boundary {
    fill: none;
    stroke: #888;
    stroke-linejoin: round;
  }
  svg {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
  }
  #tooltip{
    position: absolute;
    z-index: 2;
    background: rgba(0,70,30,1.0);
    width:130px;
    height:20px;
    color:white;
    font-size: 14px;
    padding:5px;
    top:-150px;
    left:-150px;
    font-family: Lucida Grande", sans-serif;
  }
  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }
  #right{
    float: right;
  }
  #p1{
    background-color: #97EDBA;
  }
  #p2{
    background-color: #8FE039;
  }
  #p3{
    background-color:#45BF55;
  }
  #p4{
    background-color: #1F9C10;
    color: white;
  }
  #p5{
    background-color: #167F39;
    color: white;
  }
  #p6{
    background-color: #044C29;
    color: white;
  }
  #p7{
    background-color: #00261C;
    color: white;
  }