#dona{
    background-color: cyan;
    width: 1020px;
    height: 300px;
}
svg {
    font: 10px sans-serif;
  }
  #right{
    float: right;
    text-align: center;
  }
  .y.axis path {
    display: none;
  }
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: blueviolet;
    border-radius: 6px;
    border: 2px solid violet;
  }
  #footer{
    height: 6em;
    background-color: blueviolet;
    text-align: center;
    width: 900px;
  }
  .y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
  }
  
  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
  }
  
  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }
  
  .birthyear,
  .age {
    text-anchor: middle;
  }
  
  .birthyear {
    fill: #fff;
  }
  
  rect {
    fill-opacity: .6;
    fill: #e377c2;
  }
  
  rect:first-child {
    fill: #1f77b4;
  }
  